.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  max-width: calc(284px*2 + 616px);
  margin: 0 auto;
  padding-bottom: 92px;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: calc(300px*2 + 328px);
        padding-bottom: 92px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: calc(352px*2 + 16px);
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        padding-bottom: 64px;
        gap: 12px;
    }
}
