.cover {
  max-width: 1184px;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {

  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 554px) {
  .cover {
      padding-bottom: 64px;
  }
}
